<%# navbar starts %>
<nav class="navbar navbar-expand-lg fixed-top nav_bar">
  <div class="container-fluid">
  <%# logodiv %>
    <div class="logo_div">
        <a class="navbar-brand" href="#"><%= image_tag('brainary.png', id:"logo",  alt:"logoimg") %></a>
    </div>
    <%# togglebutton %>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <i class="fa-solid fa-bars"></i>
    </button>
     <%# toggle-div %>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><%=image_tag('brainary.png',id:"logo2", alt: "logoimg") %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <%# navbar_list %>
      <div class="offcanvas-body">
      
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

          <li class="nav-item hover-underline-animation">
            <a class="nav-link active" aria-current="page" href="/index">Home</a>
          </li>

          <li class="nav-item hover-underline-animation">
            <a class="nav-link active" href="/book">Books</a>
          </li>

           <li class="nav-item hover-underline-animation">
           <%if current_user%>
            <a class="nav-link active" href="/schedule">Schedule</a>
           <%else%>
            <a class="nav-link active" href="/login">Schedule</a>
            <%end%>
          </li>

          <li class="nav-item hover-underline-animation">
            <a class="nav-link " href="/donate_books">Donate</a>
          </li>

          <%# <li class="nav-item hover-underline-animation">
            <a class="nav-link " href="/review">Review</a>
          </li> %>
          
        </ul>

        
        <%if current_user %>
        <div class="btn_div_pro" onclick="dropprofile()">
            <%= image_tag('jeru1.png',id:"profile-cir-pic-main", alt: "profile-img") %>
            <div class="dropdown_icon_div"><i class="fa-solid fa-caret-down drop-icon" id="drop-icon"></i></div>
        </div>
        <%else%>
        <a href="/login" class="btn_div_pro">
            <i class="fa-solid fa-user"  id="profile-cir-pic-icon"></i>
        </a>
        <%end%> 
      </div>
      <%# navbar-div ends %>
    </div>
  </div>
</nav>

<div id="profile-dropdown" class="display_profile">
  <div class="button"><a href="/user_profile">Profile</a></div>
  <div class="button">
      <a href="/logout"> Log out</a>
  </div>
</div>

<script>
function dropprofile(){
   document.getElementById("profile-dropdown").classList.toggle("display_profile");
   document.getElementById("drop-icon").classList.toggle("drop_icon");
}
</script>