.donate-div{
    width:80%;
    height:70%;
    margin-top: 15%;
    margin-left: 10%;
}
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
.donate-div h1{
    font-family: 'Mouse Memoirs', sans-serif;
    color:#56397e;
    font-weight: bold;
}
.donate-div  ::placeholder{
    color:#56397e;
    // padding: 2%;
    // font-family: 'Mouse Memoirs', sans-serif;
}
.donate-div input{
    width: 100%;
    height: 50px;
    margin-top: 3%;
    border-radius: 5px;
    border: none;
    background-color: #e1d9ee;
    color:#56397e;
    padding: 2%;
    // font-family: 'Mouse Memoirs', sans-serif;
    outline: none;
}
.donate-div textarea{
    width: 100%;
    height: 150px;
    margin-top: 3%;
    border-radius: 5px;
    border: none;
    background-color: #e1d9ee;
    padding: 2%;
}
.donate-div #don-btn{
    padding: 1%;
    margin-top: 3%;
    width: 100%;
    height: 50px;
    background-color: #56397e;
    border-radius: 5px;
    border: none;
    // font-family: 'Mouse Memoirs', sans-serif;
    color:white;
    font-weight: bold;
    font-size: 20px;
}
.suggest-book-div{
    width:80%;
    height:20%;
    margin-top: 70%;
    margin-left: 10%;
}
.suggest-book-div h1{
    font-family: 'Mouse Memoirs', sans-serif;
    color:white;
    font-weight: bold;
    
}
.suggest-book-div input{
    width: 100%;
    height: 50px;
    margin-top: 3%;
    border-radius: 5px;
    border: none;
    background-color: #211433a2;
    color:#e1d9ee;
    padding: 3%;
    // font-family: 'Mouse Memoirs', sans-serif;
    outline: none;
}
.suggest-book-div select{
    width: 100%;
    height: 45px;
    margin-top: 3%;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    color:#2b1352;
    padding: 3%;
    // font-family: 'Mouse Memoirs', sans-serif;
    outline: none;
    text-align: center;
}
.suggest-book-div option{
    color:#2b1352;
    padding: 3%;
    // font-family: 'Mouse Memoirs', sans-serif;
}
.suggest-book-div button{
    padding: 1%;
    margin-top: 6%;
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    border: none;
    // font-family: 'Mouse Memoirs', sans-serif;
    color:#56397e;
    font-weight: bold;
    font-size: 20px;
}
.suggest-book-div  ::placeholder{
    color:#f2ecfa;
    // padding: 2%;
    // font-family: 'Mouse Memoirs', sans-serif;
}
#donating_list_table thead{
    background-color:#573880;
    color:white;
    border-radius:50px 50px 0 0;
    // font-family: 'Mouse Memoirs', sans-serif;
  }
  .donate-headings{
      font-size: 25px;
      padding-bottom: 5%;
    //   font-family: 'Mouse Memoirs', sans-serif;
      color:#2b1352;
      font-weight: bold;
  }
  #donating_list_table{
      width: 90%;
  }
  