// has signup and login page css

//signup_page
.signup_page{
    padding: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
#signup_img{
    width: 100%;
    height: 100vh;
}
.signup_form{
    width: 80%;
}

.field label{
    font-size: 1.0vw;
    padding-bottom:1% ;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    color: #43226b;
}
.field input{
    border-radius: 4px;
    border: 0.5px solid rgb(149, 149, 149);
    width: 100%;
    padding: 1% 1%;
    outline: none;
}
.field{
    padding: 2%;
}
.form_sign_up{
    padding-top: 4%;
}

.signup-col{
    display: flex;
    justify-content: center;
    align-items: center;
}
#welcome{
    color: #43226b;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    font-size: 2.3vw;
}
#sub_welcome_text{
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    color: #43226b;
    margin-left: 1%;
}
#alreadyuser{
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    color: #43226b;
    margin-left: 1%;
    margin-top: 4%;
}

.actions input{
    margin-top:4%;
    border: none;
    padding: 1%;
    font-size: 1vw;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    color: rgb(251, 230, 251);
    background-color: #44266d;
    border-radius: 4px;
    width: 30%;
}

.quote{
    position: absolute;
    top:59%;
    background-color:rgba(255, 255, 255, 0.507);
    opacity: 0.8;
    color: #43226b;
    width: 100%;
}
.quote pre{
    text-align: right;
    padding-right:8%;
    font-size: 32px;
    opacity: 1;
    padding-bottom: 2%;
    font-family: 'Edu NSW ACT Foundation', cursive;
}

//login page

.login_form{
    width: 60%;
}
.login_form .actions input{
    width: 100%;
}
.field h6 a {
    color: blue;
}
.field h6 a :hover{
    color: #43226b;
    cursor: pointer;
    background-color: transparent;
}
#alert{
    color: red;
}
#user_main_profile_div{
    width: 100%;
    height: 100vh;
}
.user-profile-pic_profile_page{
    background-image: linear-gradient(to right, #3f0fa0 , #8d5ec6);
        //  background-color: #44266d;
         border-radius:0 0 50% 50%;
         width:100%;
         height: 30%;
}
.user-profile-pic_profile_page  #profile-page-pic{
        width: 30vh;
        height:30vh;
        border-radius: 50%;
        margin-top: 10vh;
        margin-left:43%;
}
@media only screen and (max-width: 768px) {
    .user-profile-pic_profile_page  #profile-page-pic{
        margin-top: 10vh;
        margin-left:23%;
}

}
.icon-div{
    background-color: white;
    border-radius: 50%;
    top: 12vh;
    margin-left:40%;
    width: 35vh;
    height:35vh;
    position: absolute;
}
.user-profile-pic_profile_page  #profile-page-icon{
    font-size: 23vh;
    border-radius: 50%;
    margin-top: 6vh;
    margin-left:22%;
    color: #4e2d90;
}
.user-profile-detail_profile_page{
      width: 100%;
      height: 60vh;
      bottom: 0;
      margin-top: 5%;
}
.user-profile-detail_profile_page #inputs_main_div{
    width: 38%;
    height: 100%;
    margin-left: 30%;
    padding:2%;
}
 .input-profile-div{
    width: 80%;
    height: 10%;
    background-color: bisque;
    
    padding-left: 20%;
}
.inputs_divs{
    background-color: white;
    margin-left:5%;
    margin-top: 5%;
    width:90%;
    height:5vh;
    display: flex;
}
.inputs_divs input{
    width: 90%;
    height: 100%;
    margin-left: 10%;
    border-bottom: 1px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    color:gray;
    font-size: 20px;
    outline:none;
    
}
.pofile-icons{
    font-size: 30px;
    color: #4e2d90;
    padding-left:8%;
    padding-top:3%;
}
#edit-btn{
    margin-top: 5%;
    margin-left: 40%;
    width: 30%;
    height: 50px;
    background-image: linear-gradient(to right, #3f0fa0 , #8d5ec6);
    color:white;
    border-radius: 20px;
    border:none;
}
